interfaces {
    ethernet eth4 {
        dhcpv6-pd {
            pd 0 {
                {% for vlan in vlans -%}
                interface switch0{% if vlan.vlan_id != 1 %}.{{ vlan.vlan_id }}{% endif %} {
                    host-address '::1'
                    no-dns
                    prefix-id ':{{ vlan.vlan_id }}'
                    service slaac
                }
                {% endfor -%}
            }
        }
    }
}
