interfaces {
    switch switch0 {
        {% for vlan in vlans if vlan.vlan_id != 1 -%}
        vif {{ vlan.vlan_id }} {
            address 192.168.{{ vlan.vlan_id }}.1/24
            description '{{ vlan.name }} VLAN'
            firewall {
                in name {{ vlan.name|upper }}_IN
                local name {{ vlan.name|upper }}_LOCAL
            }
        }
        {% endfor %}
    }
}
